.card-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
}

.card-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}
