.topPage {
    background-image: url("../images/Header-llustration-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    width: 209px;
    height: 114px;
    position: relative;
    top: 213px;
    right: 53%;
}

.background1 {
    position: relative;
    bottom: 74px;
    left: 11%;
}

.aboutMe {
    position: relative;
    bottom: 222px;
}

body{
    background-color: #dde2eb;
}

.navbar-light .navbar-nav .nav-link {
    color: #172B4D;
}

.sectionIntro {
    margin-top: 12vw;
}

.card-title {
    color: #172B4D;
    font-size: 44px;
}
.soft {
    color: #36B37E;
    font-size: 44px;
}

a,
.recentWorks,
.aboutMeHeading {
    color: #172B4D;
}

.aboutMeText,
.sectionparagraph {
    color: #42526E;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    font-weight: 400;
}

.card-img-top {
    width: 100%;
}

.projectButton {
    background: #EBF0EE;
}

.projectButton1,
.projectButton4,
.projectButton4:hover {
    background: #36B37F;
    color: #FFFFFF;

}

.projectButton2 {
    background: #FFFFFF;
    color: #36B37F;
}

.iconImage {
    height: 55px;
    width: 55px;
}

.skillsCard {
    background: #EBF0EE;
    color: #172B4D;
}

#skills {
    position: relative;
    bottom: 20%;
}

.formTextMail {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    color: #172B4D;
}

@media (max-width: 703px) {
    .aboutMe {
        bottom: 111px;
    }
}

@media (max-width: 749px) {
    .topPage {
        background-image: url("../images/illustration-about-me-desktop.png");
        background-size: contain;
    }
}
