.topPage {
    background-image: url("../images/Header-llustration-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40vw;
}

.background {
    width: 209px;
    height: 114px;
    position: relative;
    top: 213px;
    right: 53%;
}

.background1 {
    position: relative;
    bottom: 74px;
    left: 11%;
}

.aboutMe {
    position: relative;
    bottom: 318px;
}

body{
    background-color: #dde2eb;
}

.navbar-light .navbar-nav .nav-link {
    color: #172B4D;
    ;
}

.sectionIntro {
    margin-top: 12vw;
}

.card-title {
    color: #172B4D;
    font-size: 44px;
}
.soft {
    color: #36B37E;
    font-size: 44px;
}

.sectionparagraph,
a,
.recentWorks {
    color: #172B4D;
}

.sectionparagraph {
    font-size: 25px;
}

.card-img-top {
    width: 100%;
}

.projectButton {
    background: #EBF0EE;
}

.projectButton1 {
    background: #36B37F;
    color: #FFFFFF;

}